.logo {
    max-height: 100px;
    width: auto;
}

.nav{
    border: 1px solid black;
    padding: 5px;
    background-color: #7aa0d6;
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
    position: relative;
}
/* The hamburger menu was found on https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.hamburgerIcon{
    background-color: #7aa0d6;
    padding: 2%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.hamburgerIcon div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
}

#navLinks a{
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

body {
    background-color: #b0c7e8;
}

#resetButton, button {
    background-color: #c2dde6;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin: auto;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: darkblue;
    margin: 20px;
}


/* CSS Loader source: https://loading.io/css/ */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cdd422;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #c2dde6 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

li {
    list-style-type: none;
    /* padding: 2%; */
    border: solid 1px black;
    text-align: center;
}

#smallLogo {
    max-width: 100px;
    max-height: auto;
    min-width: 100px;
    min-height: auto;
}

.companiesList li {
  display: flex;
  /* justify-content: space-evenly; */
}

.companiesList li a {
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.companiesList{
  margin-right: 3%;
}

ul > li:nth-child(odd){
  background-color: #a7b3d4;
}

#logoOnMouseEvent{
  width: 300px;
  height: auto;
  display: none;
  position: absolute;
  z-index: 1000;
}

#symbol{
  /* padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto; */
  margin: auto;
  color: seagreen;
}

#name{
  margin: auto;
  color: cornflowerblue;
}

.companiesList span {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.filter{
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#searchBox{
  width: 500px;
}

.filter label{
  margin: auto;
}

h2 {
  color: darkblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 300%;
}

h3 {
  color: darkcyan;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.singleCompany {
  margin: 25px;
}

.singleCompany img {
  width: 75%;
  height: 200px;
}

.favButton, .historyButton {
  margin: 20px;
  text-decoration: none;
}

.favButton a, .historyButton a {
  text-decoration: none;
}
