.logo {
    max-height: 100px;
    width: auto;
}

.nav{
    border: 1px solid black;
    padding: 5px;
    background-color: #7aa0d6;
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
    position: relative;
}
/* The hamburger menu was found on https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.hamburgerIcon{
    background-color: #7aa0d6;
    padding: 2%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.hamburgerIcon div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
}

#navLinks a{
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

body {
    background-color: #b0c7e8;
}